<html>
<head>
<title>
Add a new post
</title>
</head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
<body>

<header>
<ul>
<li><a href="/home">Home</a></li>
</ul>
</header>

<div class="postArea">

<form method="post" target="" action="">
{% csrf_token %}

Describe the POST </br> <textarea name="description" id="description" placeholder="Describe your POST" cols="50" rows="5" > </textarea></br>
Your location <input type="textarea" name="location" id="location"/> </br>
<input type="submit" name="submit" id="submit"/>
</form>

</div>

</body>
</html>

