<html>
<head>
<title>
Add a new post
</title>
</head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
<body>

<header>
<ul>
<li><a href="/home">Home page</a></li>
<li><a href="/add">Add post</a></li>
<li><a href="/featured">Featured</a></li>
</ul>
</header>

<div class="postArea">

<form method="post" target="" action="">
{% csrf_token %}

Describe the POST </br> <textarea name="description" id="description" placeholder="Describe your POST" cols="50" rows="20" > </textarea></br>
Phone (optional) <input type="text" name="phone" id="phone"/> </br>
E_mail(Optional) <input type="text" name="e_mail" id="e_mail"/> </br>
Your location <input type="text" name="location" id="location"/> </br>
<input type="submit" name="submit" id="submit"/>
</form>

</div>

</body>
</html>

