<!DOCTYPE html>
<head>
<title>
Featured posts
</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
</head>
<body>
<header>
<ul>
<li><a href="/home">Home page</a></li>
<li><a href="/add">Add post</a></li>
<li><a href="/featured">Featured</a></li>
</ul>
</header>
<div class="postShow" style="text-align:center;">
Featueed Posts
<div class="post">
<div class="description"><h3>Make your Post featured</h3></div>
<div class="location"></div>
</div>
</div>
</body>
</html>

