<!DOCTYPE html>
<head>
<title>
Home template
</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
</head>
<body>
<header>
<ul>
<li><a href="/home">Home page</a></li>
<li><a href="/add">Add post</a></li>
<li><a href="/featured">Featured</a></li>
</ul>
</header>
<div class="postShow">
<div class="post">
<div class="description"><h3>{{post.description}}</h3></div>
<div class="location">in {{post.location}}</div>
<div class="keywords"><h6>{{post.keywords}}</h6></div>
</div>
</div>
</body>
</html>

