body{
background-color:grey;
}

header {
margin:auto;
width:15%;

}

.post {

border:1px solid orange;
text-align:center;
width:60%;
margin:auto;
}

.postArea {

width: 50%;
margin: auto;
margin-top:10%;

}

.postShow {
margin-top:10%;
}


